name: Deploy Blog

on: [push]

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2-beta
      with:
          node-version: '14'
    
    - name: prepare build env
      run: |
        mkdir -p ~/.ssh/
        echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan github.com >> ~/.ssh/known_hosts
        git config --global user.name "Magic-Xin"
        git config --global user.email "x.yu2000@163.com"
        
    - name: Install hexo
      run: |
        npm install -g npm
        npm install hexo-cli -g
        npm install
        hexo clean
        
    - name: Install plugins
      run: |
        npm install hexo-deployer-git --save
        npm install hexo-next-three --save
        npm install hexo-generator-searchdb --save
        
    - name: Clone fancybox
      uses: actions/checkout@v2
      with:
        repository: next-theme/theme-next-fancybox3
        token: ${{ secrets.REPO_TOKEN }}
        path: themes/next/source/lib/fancybox
        
    - name: Clone pace
      uses: actions/checkout@v2
      with:
        repository: next-theme/theme-next-pac
        token: ${{ secrets.REPO_TOKEN }}
        path: themes/next/source/lib/pace
  
    - name: Deploy
      run: |
        hexo g -d
